# -------------------------
# dbt
# -------------------------
target/
dbt_packages/
logs/

# dbt local artifacts
*.log

# -------------------------
# Python
# -------------------------
.venv/
venv/
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/

# -------------------------
# OS / Editor
# -------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# -------------------------
# Secrets / Keys (สำคัญมาก)
# -------------------------
keys/
*.json
*.pem
*.key
*.env

# -------------------------
# Codespaces / Devcontainer (optional)
# -------------------------
.devcontainer/.env
